<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2><%= name %></h2>
        <h2><%= email %></h2>
        <h2><%= phNum %></h2>
        <h2><%= slotTime %></h2>
        <h2><%= description %></h2>
    </div>
    <button><a href="/user/bookAppointment">CANCEL</a></button>
    
    <form  action="/user/confirmedPost" method="post">
        <input value="<%=name%> " name="name" style="display: none;">
        <input value="<%=email%> " name="email" style="display: none;">
        <input value="<%=phNum%> " name="phNum" style="display: none;">
        <input value="<%=slotTime%> " name="slotTime" style="display: none;">
        <input value="<%=description%> " name="description" style="display: none;">
        <button>CONFIRM</button>
    </form>
</body>
</html>