<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Welcome <%= name %></h2>
    <h3>Name - <%= name %></h3>
    <h3>Email - <%= email %></h3>
    <h3>Mobile - <%= phNum %></h3>
    <h3>Address - <%= address %></h3>

    <h2>Your Pending Appointment Requests</h2>
    <h2>Your Upcoming Appointments</h2>
</body>
</html>

