<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="_container">

    <div class="contact-info">
        <div class="info">
            <h1>Contact Information</h1>
            <p>Name: <%= user.name%></p>
            <p>Residential Address: <%= user.address%></p>
            <p>Email Address: <%= user.email%></p>
        <h1>Basic Information</h1>
            <p>Birthday: <%=user.dob %></p>
            <p>Gender: <%=user.gender %></p>
        </div>
        <div class="avatar">
            <% if(user.gender == 'male'){ %>
                <img src="/images/Male.jpg" alt="male" srcset="">
            <%}else{%>
                <img src="/images/female.png" alt="female" srcset="">
            <%}%>
        </div>
    </div>
    <div class="physicalWellBeing">
        <div>
            <h1>Activities For Physical And Mental Well being</h1>
        </div>
        <div class="flexContainer">
            <div class="image">
                <div>
                    <img src="/images/viktor-bystrov-Gi0OMNguFaw-unsplash.jpg" alt="cycling" srcset="">
                </div>
                <div>
                    <h1>Cycling</h1>
                </div>
                <div>
                    <p>Cycling can help to protect you from serious diseases such as stroke, heart attack​, some cancers, depression, diabetes, obesity and arthritis. ·</p>
                </div>
            </div>
            <div class="image">
                <div>
                    <img src="/images/Meditation.jpg" alt="meditation" srcset="">
                </div>
                <div>
                    <h1>Meditation</h1>
                </div>
                <div>
                    <p>Cycling can help to protect you from serious diseases such as stroke, heart attack​, some cancers, depression, diabetes, obesity and arthritis. ·</p>
                </div>
            </div>
            <div class="image">
                <div>
                    <img src="/images/Running.jpg" alt="running" srcset="">
                </div>
                <div>
                    <h1>Running</h1>
                </div>
                <div>
                    <p>Cycling can help to protect you from serious diseases such as stroke, heart attack​, some cancers, depression, diabetes, obesity and arthritis. ·</p>
                </div>
            </div>
            <div>
                <a href="/users/activities">Activities</a>
            </div>
        </div>
    </div>
    <div class="nutritionalGuidelines">
        <h1>Nutritional Guidelines</h1>
        <h3>Dietary Guidelines:</h3>
        <ul>
            <li>Maintaining health and weight is a lifelong process and a permanent change should be brought in dietary habits</li>
            <li>The diet should be adequate in all nutrients meaning both macro and micro nutrients are important in maintaining health.</li>
            <li>Try modifying your normal diet into a nutrient enriched diet making sure it contains all five food groups.</li>
            <li>The diet should be adequate in all nutrients meaning both macro and micro nutrients are important in maintaining health.</li>
            <li>Physical activity is a must. Start taking out time for whatever physical activity interests you.</li>
            <li>Eating meals and snacks that include a variety of foods, instead of eating the same meals each day will enhance mental health.</li>
        </ul> 
        <h3>Here are the top three foods to incorporate into a healthy mental diet:</h3>
        <ul>
            <li>Complex carbohydrates — such as brown rice and starchy vegetables can give you energy. Quinoa, millet, beets and sweet potatoes have more nutritional value and will keep you satisfied longer.</li>
            <li>Lean proteins — also lend energy that allows your body to think and react quickly. Good sources of protein include chicken, meat, fish, eggs, soybeans, nuts and seeds.</li>
            <li>Fatty acids — are crucial for the proper function of your brain and nervous system. You can find them in fish, meat, eggs, nuts and flaxseeds.</li>
        </ul>
        <h3>Healthy Eating Tips:</h3>
        <ul>
            <li>Steer clear of processed snack foods, such as potato chips, which can impair your ability to concentrate. Quit on sugar-filled snacks, such as candy and soft drinks, which lead to ups and downs in energy levels.</li>
            <li>Consume plenty of healthy fats, such as olive oil, coconut oil and avocado. This will support your brain function.</li>
            <li>Have a healthy snack when hunger strikes, such as fruit, nuts, hard-boiled eggs, baked sweet potatoes. This will give you more energy than packaged products.</li>
            <li>Develop a healthy shopping list and stick to it.</li>
            <li>Don’t shop while hungry, since you’ll be more apt to make unhealthy impulse purchases.</li>
            <li>Think about where and when you eat. Don’t eat in front of the television, which can be distracting and cause you to overeat. Instead, find a place to sit, relax and really notice what you’re eating.</li>
            <li>Diet and nutrition are unique to every person, but these following these guidelines are of no harm.</li>
        </ul>
    </div>
</div>
</body>
</html>